<div ng-click="enterEditMode()" ng-form="innerForm">
    &nbsp;<span ng-show="!editMode">{{ ( params.id == 'location' ? params.value : (presentableValue | localizeDate:params.type:'short') ) }}</span>

    <i class="edit fa fa-pencil-square" ng-show="!editMode" ng-focus="enterEditMode()"
       tabindex="{{ params.tabindex }}" focushere="{{ params.tabindex }}"></i>
    <i class="saved fa fa-check" ng-show="!editMode" ng-class="{ active: params.saved }"></i>

    <textarea ng-keyup="keyUp($event)" type="{{ (params.type === 'time') ? 'text' : (params.type || 'text') }}"
        ng-model="params.value" ng-blur="submit(); editMode = false" class="editable" tabindex="{{ params.tabindex }}"
        ng-if="params.type === 'text_long' && editMode" ng-required="params.required" name="{{ params.name }}"/>

    <input ng-keyup="keyUp($event)"
        ng-if="params.id != 'location' && params.type != 'time' && editMode && params.type === 'text'"
        type="{{ (params.type === 'time') ? 'text' : (params.type || 'text') }}"
        ng-model="params.value" ng-blur="submit()" tabindex="{{ params.tabindex }}"
        ng-required="params.required" name="{{ params.id }}"/>

    <select chosen
        ng-if="params.type === 'time' && editMode"
        ng-change="submit()"
        ng-keyup="keyUp($event)"
        tabindex="{{ params.tabindex }}"
        data-width="'100px'"
        data-disable-search-threshold="8"
        ng-model="params.hours"
        ng-disabled="!editMode && params.type === 'time'" ng-required="params.required" name="hours"
        data-placeholder="{{ 'EVENTS.EVENTS.NEW.SOURCE.PLACEHOLDER.HOUR' | translate}}"
        ng-options="h.index as h.value for h in hours"
    />
    <select chosen
        ng-if="params.type === 'time' && editMode"
        ng-change="submit()"
        ng-keyup="keyUp($event)"
        tabindex="{{ params.tabindex }}"
        data-width="'100px'"
        data-disable-search-threshold="8"
        ng-model="params.minutes"
        ng-disabled="!editMode && params.type === 'time'" ng-required="params.required" name="minutes"
        data-placeholder="{{ 'EVENTS.EVENTS.NEW.SOURCE.PLACEHOLDER.MINUTE' | translate}}"
        ng-options="m.index as m.value for m in minutes"
    />
    <select chosen
        ng-if="params.id == 'location' && editMode "
        ng-model="params.value"
        ng-change="submit()"
        data-width="'250px'"
        data-disable-search-threshold="5"
        ng-disabled="!editMode && params.id == 'location'"
        ng-required="params.required" name="{{ params.id }}"
        data-placeholder="{{ 'EVENTS.EVENTS.NEW.SOURCE.PLACEHOLDER.LOCATION' | translate}}"
        ng-options="value as label|translate for (label, value) in params.collection"
    >
        <option ng-if="params.required && Object.keys(params.collection).length === 0" value="" ng-selected="params.value == '' || !params.collection.hasOwnProperty(params.value) ">-- {{ 'SELECT_NO_OPTIONS' | translate | limitTo: 70 }} --</option>
    </select>
</div>
